.skill-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  color: white;
  min-height: 60vh;
  padding-top: 100px;
}
.skill-extra-bg {
  background: radial-gradient(circle, rgb(7, 26, 63) 0%, rgb(6, 2, 41) 100%);
}
.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  color: white;
}
.skill-content-details img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
